default_install_hook_types: [pre-commit, commit-msg]
fail_fast: true
repos:

  # Validate Commit Message
  - repo: local
    hooks:
      - id: validate-commit-msg
        stages: [commit-msg]
        name: validate-commit-msg
        language: pygrep
        entry: '((^[mM]erge .*$)|(^((build|chore|ci|docs|feat|fix|perf|refactor|revert|style|test)(\(.+\))?!?: .+)((\n\n(.+)\n\n)((BREAKING CHANGE|DEPRECATED)(: )(.+)\n\n(.+))?(\n\n\nresolve[ds]? \#[A-Z0-9\-]+|fix(ed|es)? \#[A-Z0-9\-]+|close[ds]? \#[A-Z0-9\-]+)((, )(resolve[ds]? \#[A-Z0-9\-]+|fix(ed|es)? \#[A-Z0-9\-]+|close[ds]? \#[A-Z0-9\-]+))?)?)?$)|(^revert: ((build|chore|ci|docs|feat|fix|perf|refactor|revert|style|test)(\(.+\))?!?: .+)(\n\n(This reverts commit [a-z0-9]{40}\..*))(\n\n(fix(ed|es)? \#[A-Z0-9\-]+)((, )(fix(ed|es)? \#[A-Z0-9\-]+))?)?$)'
        args: [--negate]

  # Format 1
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
        pass_filenames: false
        stages: [pre-commit]
      - id: trailing-whitespace
        pass_filenames: false
        stages: [pre-commit]

  # Format 2
  - repo: local
    hooks:
      - id: format
        stages: [pre-commit]
        name: ruff (format)
        entry: ruff format .
        language: system
        pass_filenames: false
        always_run: true

  # Lint
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.1
    hooks:
      - id: ruff
        stages: [pre-commit]
        name: ruff (lint)
        pass_filenames: false

  # Type
  - repo: local
    hooks:
      - id: mypy
        stages: [pre-commit]
        name: mypy
        entry: python -m mypy
        language: system
        pass_filenames: false
        always_run: true

  # Test
  - repo: local
    hooks:
      - id: pytest
        stages: [pre-commit]
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false
        always_run: true
